* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Harry;
    src: url('font/HARRYP__.TTF');
}

body {
    background-color: #B15B58;
}

header {
    border-bottom: 1px solid;
    padding: 10px 0px;
}

.title-page {
    color: black;
    font-family: 'Harry';
    font-size: 30px;
}

.apresentacao h3 {
    font-size: 24px;
    font-family: Arial, sans-serif;
    padding: 10px 0px;
}

.card-contain {
    border-radius: 15px;
    padding: 20px;
}

.card-contain img {
    width: 180px;
}

.card-contain h3 {
    color: black;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 3px 0px;
}

.card-contain p {
    color: white;
    font-size: 18px;
    font-weight: lighter;
}